<tr id="<%= dom_id user %>" class="text-sm">
  <td class="px-3 py-2"><%= user.is_active? ? "Yes" : "No" %></td>
  <td class="px-3 py-2"><%= user.code %></td>
  <td class="px-3 py-2"><%= "#{user.first_name} #{user.last_name}" %></td>
  <td class="px-3 py-2"><%= user.main_group&.code %></td>
  <td class="px-3 py-2"><%= user.devise_status.to_s.humanize %></td>
  <td class="px-3 py-2"><%= l(user.active_from, format: :short) if user.active_from %></td>
  <td class="px-3 py-2"><%= l(user.active_to, format: :short) if user.active_to %></td>
  <td class="px-3 py-2"><%= user.owner&.code %></td>
  <td class="px-3 py-2"><%= l(user.updated_at, format: :short) %></td>
  <td class="px-3 py-2 space-x-2 whitespace-nowrap">
    <%= link_to "Show", administration_user_path(user), class: "text-blue-600 hover:underline" %>
    <%= link_to "Edit", edit_administration_user_path(user), class: "text-blue-600 hover:underline" %>
    <%= button_to "Deactivate", administration_user_path(user), method: :delete, class: "text-red-600 hover:underline", data: { turbo_confirm: "Are you sure?" } %>
  </td>
</tr>
