<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Rails 8 Base" %></title>
    <%= favicon_link_tag("ODQ_favicon64.ico") %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="font-quicksand">

    <%= render "layouts/header" %>

    <div id="content" class="flex bg-white text-grey-800 rounded-sm">
      <div id="application" class="relative w-full min-h-[80vh] border-2 border-solid rounded-sm">
        <nav id="administration_menu" class="inline-grid grid-cols-4 gap-4 shrink-0 w-full ml-auto border-2 border-solid rounded-sm border-blue-400">
          <%= link_to "Security",       "#", class: "text-center hover:text-emerald-700" %>
          <%= link_to "Settings",       "#", class: "text-center hover:text-emerald-700" %>
          <%= link_to "Topology",       "#", class: "text-center hover:text-emerald-700" %>
          <%= link_to "Infrastructure", "#", class: "text-center hover:text-emerald-700" %>
        </nav>
        <div id="app_content" class="border-2 border-solid rounded-sm border-blue-400">
          <%= yield %>
        </div>
      </div>
    </div>

    <%= render "layouts/footer" %>

  </body>

</html>
