<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Rails 8 Base" %></title>
    <%= favicon_link_tag("ODQ_favicon64.ico") %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="font-quicksand">

    <%= render "layouts/header" %>

    <div class="flex">
      <div id="administration" class="w-full">
        <div id="top-menu" class="flex items-center w-full h-16 px-4 border-2 border-solid rounded-sm border-blue-400">
          <%= link_to root_path, class: "text-xl hover:text-emerald-700" do %>
            <i class="fa-solid fa-house"></i>
          <% end %>

          <div class="flex items-center gap-4 ml-auto text-sm">
            <button type="button" data-filter="all" class="flex items-center gap-2 hover:text-emerald-700">
              <i class="fa-solid fa-list"></i>
              <span>View all</span>
            </button>
            <button type="button" data-filter="active" class="flex items-center gap-2 hover:text-emerald-700">
              <i class="fa-solid fa-circle-check"></i>
              <span>View active</span>
            </button>
            <button type="button" data-filter="mine" class="flex items-center gap-2 hover:text-emerald-700">
              <i class="fa-solid fa-user"></i>
              <span>View mine</span>
            </button>
          </div>
        </div>

        <div id="content" class="flex bg-white text-grey-800 rounded-sm">
          <%= render "layouts/administration_menu" %>
          <div id="management" class="relative w-full min-h-[80vh] border-2 border-solid rounded-sm">
            <div id="app_content" class="border-2 border-solid rounded-sm border-blue-400">
              <%= yield %>
            </div>
          </div>
        </div>
      </div>

      <%= render "layouts/notifications" %>
    </div>

    <%= render "layouts/footer" %>

  </body>

</html>
