<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Rails 8 Base" %></title>
    <%= favicon_link_tag("ODQ_favicon64.ico") %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

    <%= render "layouts/header" %>

    <div id="content" class="border-2 border-solid rounded-sm border-red-400">
      content
      <div id="app-navigation" class="border-2 border-solid rounded-sm border-yellow-400">
        navigation
        <div id="app-search" class="border-2 border-solid rounded-sm border-blue-400">
          search
        </div>  
        <div id="app-search-results" class="border-2 border-solid rounded-sm border-blue-400">
          results
        </div>  
      </div>  

      <main id="application" class="container mx-auto mt-28 px-5 flex border-2 border-solid rounded-sm border-orange-400">
        application
        <div id="app_menu" class="border-2 border-solid rounded-sm border-blue-400">
          app-menu
        </div>  
        <div id="app_status" class="border-2 border-solid rounded-sm border-blue-400">
          app-status
        </div>  
        <div id="app_content" class="border-2 border-solid rounded-sm border-blue-400"> 
          <%= yield %>
        </div> 
        <div id="app_actions" class="order-2 border-solid rounded-sm border-blue-400">
          app-actions
        </div>  
      </main>
    </div>

    <%= render "layouts/footer" %>

    <!-- Child Modal window for generic use -->
    <aside class="modal fade modal-remote" id="childModal" tabindex="-1" role="dialog" aria-labelledby="childModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content"></div>
      </div>
    </aside>

  </body>

</html>
