<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Rails 8 Base" %></title>
    <%= favicon_link_tag("ODQ_favicon64.ico") %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="font-quicksand">

    <%= render "layouts/header" %>

    <div id="content" class="flex bg-white text-grey-800 rounded-sm">
      <div id="app-search" class="w-1/5 border-2 border-solid rounded-sm">
        <div id="app-search-criteria" class="border-2 border-solid rounded-sm border-blue-400">
        Criteria form
        </div>      
        <div id="app-search-results" class="border-2 border-solid rounded-sm border-blue-400">
        Search results
          <nav id="app_hierarchy" class="flex flex-col shrink-0 border-2 border-solid rounded-sm border-blue-400">
            <span>1</span>
            <span>2</span>
            <span>3</span>
            <span>4</span>
            <span>5</span>
            <span>6</span>
          </nav>   
        </div>     
      </div>
      <div id="application" class="relative w-full border-2 border-solid rounded-sm">
        <nav id="app_menu" class="inline-grid grid-cols-6 gap-4 shrink-0 w-full ml-auto border-2 border-solid rounded-sm border-blue-400">
          <span>Menu 1</span>
          <span>Menu 2</span>
          <span>Menu 3</span>
          <span>Menu 4</span>
          <span>Menu 5</span>
          <span>Menu 6</span>
        </nav> 
        <div id="app_status" class="flex items-center mx-auto px-4 border-2 border-solid rounded-sm border-blue-400">
          <div id="breadcrumbs">
            Breadcrumbs
          </div>
          <div id="object-details" class="inline-grid grid-cols-2 gap-4 shrink-0 ml-auto">
            <span>Status</span>
            <span>Details</span>
          </div>          
        </div>  
        <div id="app_content" class="border-2 border-solid rounded-sm border-blue-400"> 
          <%= yield %>
        </div> 
        <div id="app_actions" class="absolute bottom-0 border-2 border-solid rounded-sm border-blue-400">
          app-actions
        </div>  
      </div>
      <div id="notifications" class="w-1/5 border-2 border-solid rounded-sm bg-blue-400">
        app-notifications
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
      </div>
    </div>

    <%= render "layouts/footer" %>

    <!-- Child Modal window for generic use -->
    <aside class="modal fade modal-remote" id="childModal" tabindex="-1" role="dialog" aria-labelledby="childModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content"></div>
      </div>
    </aside>

  </body>

</html>
